.wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    backdrop-filter: blur(4px);
    background: rgba(14, 7, 53, 0.11);
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 1rem;

    padding: 32px 48px;
    background: url("../../assets/popup.png") no-repeat center;
    max-width: 640px;
    max-height: 430px;
    border-radius: 10px;
}

.loader__gif {
    align-self: center;
}
