.container {
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    box-shadow: 0 4px 12px 0 rgba(163, 148, 205, 0.34);
    border-radius: 10px;
    background: var(--Neutral-White);

    margin-bottom: 1.125rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
