.container {
    position: sticky;
    top: 0px;
    z-index: 5;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 8px 32px;
    box-shadow: 0 4px 12px 0 rgba(163, 148, 205, 0.34);
    background: var(--Neutral-White);
}

.container__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.line {
    height: 0;
    width: 100%;
    border: #E9E7F9 1px solid;

    position: absolute;

}